In [1]:
import pandas as pd
#Empty Dataframe
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
emp=pd.Series(['Parker','John','Smith','William'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\n Series to Dataframe\n")
print(result)

 Series to Dataframe

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [8]:
print("\n Extracting one column:\n")
print(result['Emp'])

 Extracting one column:

0     Parker
1       John
2      Smith
3    William
Name: Emp, dtype: object

In [10]:
print("\n Adding newcolumn:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

 Adding newcolumn:

       Emp   ID  Age
0   Parker  102   35
1     John  107   24
2    Smith  109   40
3  William  114   38

In [11]:
print("\nDeleting one column:\n")
del result['Age']
print(result)

Deleting one column:

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [12]:
print("\n Extracting the thrid row:\n")
print(result.loc[2])

 Extracting the thrid row:

Emp    Smith
ID       109
Name: 2, dtype: object

In [13]:
print("\n slice rows:\n",result[1:3])

 slice rows:
      Emp   ID
1   John  107
2  Smith  109